body {
    font-family: sans-serif;
    color: purple;
}

.lblWelcome {

    font-size:x-large;
}
.welcomePicture{
    background-size:cover;
    background-position:center;
}
.mr-lg-5 {
    margin-right: 55px;
}
#rqrdValidName, #rqrdValidSurname, #rqrdValidDate, #ValidationSummary1, #rqrValidID, #regValidDate {
    color: red;
    font-weight: bold;
}
#btnDodaj{
    background-color:purple;
    border-color:peachpuff;
}

@media screen and (min-width: 768px) {
}

