@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_ERVLayout.cshtml";
}
<div class="container">
    <h2>Neš' grešno se desilo</h2>
    <h3>Vrati se na sigurno: <a href="/Home/Index">Home</a></h3>
    <p>@Model.Exception</p>
</div>