
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


textarea {
    max-width: 280px;
}

.lblWelcome {
    font-family: sans-serif;
    color: purple;
    font-size:x-large;
}
.welcomePicture{
    background-size:cover;
    background-position:center;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

